h1{
  margin-bottom: 50px;
  font-size: xx-large;
}
h3{
  color: white;
}
.mvv-section {
    padding: 60px 10%;
    text-align: center;
  }
  .mvv-section h1{
    color: blue;
  }
  
  .mvv-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
  }
  
  .mvv-item {
    flex: 1;
    max-width: 300px;
    text-align: center;
  }
  
  .mvv-icon {
    margin-left: 130px;
    font-size: 50px;
    color: #555;
    margin-bottom: 15px;
  }
  
  h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 25px;
    color:white;
  }
  
  .key-managers {
    margin-top: 50px;
    font-size: 22px;
    font-weight: bold;
  }
  